.ArgandDiagram {
    position: relative;
    text-align: center;
    /* margin: 0%; */
    width: 99%;
    height: 99vh;
    margin: auto auto;
    padding: 0%;
    box-sizing: border-box;
}

.ArgandDiagram>svg {
    position: static;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    margin: auto auto;
}

.ArgandDiagram>#AllInputs {
    margin-left: 5rem;
    height: 75%;
    position: absolute;
    margin-top: 0.2rem;
    padding: 1rem;
    overflow-y: auto;
    width: 40%;
    min-width: 50px;
    max-width: 150px;
}

.ArgandDiagram>div#hideInputs {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 2rem;
    margin-left: 1.5em;
    margin-top: 1rem;
    padding: 0.1rem;
    border-radius: 5px;
    background-color: white;
    border: 2px solid whitesmoke;
    color: #2d3748;
}

.ArgandDiagram>div#hideInputs:hover {
    z-index: 1;
    background-color: #000000;
    color: white;
    border-color: black;
    transition:
        background-color 0.1s,
        border-color 0.2s;
}

.ArgandDiagram>div#hideInputs:active {
    transform: scale(0.95);
    transform: rotate(100deg);
}

.ArgandDiagram>#zoom-controls>* {
    position: absolute;
    right: 2rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid black;
    cursor: pointer;
    width: 30px;
    border-radius: 8px;
}

.ArgandDiagram>#zoom-controls>*:hover {
    padding: 0.25rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ArgandDiagram>#zoom-controls>#zoomIn {
    top: 2rem;
    background-color: #4caf50;
    border: 2px solid #388e3c;
    color: white;
}

.ArgandDiagram>#zoom-controls>#zoomOut {
    top: 5rem;
    background-color: #2196f3;
    border: 2px solid #1976d2;
    color: white;
}

.ArgandDiagram>#zoom-controls>#zoomReset {
    top: 8rem;
    border: 2px solid red;
    background-color: #ff4c4c;
    color: white;
}

.ArgandDiagram>#zoom-controls>*:active {
    transform: scale(0.9);
}

.ArgandDiagram input {
    text-align: center;
    width: 90%;
    margin: 0.2rem auto;

    font-weight: bolder;
    font-size: 120%;
    border: 2px solid #ccc;
    /* Light gray border */
    border-radius: 8px;
    /* Rounded corners */
    padding: 10px;
    /* Add some spacing */
    outline: none;
    /* Remove blue outline on focus */
    box-sizing: content-box;
}

.ArgandDiagram #first-input {
    margin-top: 2rem;
}

.ArgandDiagram input:focus {
    border-color: #003580;
    /* Darker blue border */
    box-shadow: 4px 4px rgba(0, 53, 128, 0.2);
    /* Subtle and lighter blue glow */
    transition:
        border-color 0.5s,
        box-shadow 0.7s;
}

.no-select {
    user-select: none;
    /* Prevent selection */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ */
}

@media (max-width: 400px) {

    /* styles here */
    .ArgandDiagram>div#hideInputs {
        margin-left: 10%;
    }

    .ArgandDiagram>#AllInputs {
        margin-left: 5%;
        margin-top: 0.5rem;
    }

    .ArgandDiagram>#zoom-controls>* {
        right: 5%;
    }

    .ArgandDiagram input {
        font-size: 1rem;
    }
}