h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ArgandDiagram {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 95vh;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.ArgandDiagram > svg {
    position: static;
    width: 97%;
    height: 99%;
    border: 2px solid grey;
    border-radius: 5px;
}

.ArgandDiagram > #AllInputs {
    margin-left: 5rem;
    height: 75%;
    position: absolute;
    margin-top: 0.2rem;
    padding: 1rem;
    overflow-y: auto;
    width: 40%;
    min-width: 50px;
    max-width: 150px;
}

.ArgandDiagram > div#hideInputs {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transform: rotate(90deg);
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 0.2rem;
    border-radius: 8px;

    background-color: white;
    border: 2px solid white;
    color: #2d3748;
}

.ArgandDiagram > div#hideInputs:hover {
    z-index: 1;
    background-color: #0000af;
    color: white;
    border-color: black;
    font-size: 2.1rem;
    transition:
        background-color 0.1s,
        border-color 0.15s;
}

.ArgandDiagram > #zoom-controls > * {
    position: absolute;
    right: 2rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid black;
    cursor: pointer;
    width: 30px;
    border-radius: 8px;
}
.ArgandDiagram > #zoom-controls > *:hover {
    padding: 0.25rem;
    font-size: 1.2rem;
}

.ArgandDiagram > #zoom-controls > #zoomIn {
    top: 2rem;
    background-color: #4caf50;
    border: 2px solid #388e3c;
    color: white;
}

.ArgandDiagram > #zoom-controls > #zoomOut {
    top: 5rem;
    background-color: #2196f3;
    border: 2px solid #1976d2;
    color: white;
}

.ArgandDiagram > #zoom-controls > #info {
    top: 8rem;
    background-color: #8a4fff;
    border: 2px solid #5d3fd3;
    color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArgandDiagram > #hints {
    background-color: #fff9c4;
    border: 2px solid #283593;
    color: #333333;
    border-radius: 8px;
    margin-right: 10px;
    text-align: initial;

    position: absolute;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    right: 5rem;
    top: 8rem;
    display: none;
}

.ArgandDiagram > #hints > ul {
    margin: 0px;
}
.ArgandDiagram > #hints > ul > li {
    margin: -5px;
    padding: 0;
}
.ArgandDiagram > #hints > ul > li::marker {
    color: #ffa726; /* Change bullet color */
    font-size: 1.5em; /* Resize the bullet */
}

.ArgandDiagram input {
    text-align: center;
    width: 90%;
    margin: 0.2rem auto;

    font-weight: bolder;
    font-size: 120%;
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Add some spacing */
    outline: none; /* Remove blue outline on focus */
    box-sizing: content-box;
}

.ArgandDiagram #first-input {
    margin-top: 2rem;
}

.ArgandDiagram input:focus {
    border-color: #003580; /* Darker blue border */
    box-shadow: 4px 4px rgba(0, 53, 128, 0.2); /* Subtle and lighter blue glow */
    transition:
        border-color 0.5s,
        box-shadow 0.7s;
}

.no-select {
    user-select: none; /* Prevent selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
}

@media (max-width: 400px) {
    /* styles here */
    .ArgandDiagram > div#hideInputs {
        margin-left: 10%;
    }
    .ArgandDiagram > #AllInputs {
        margin-left: 5%;
        margin-top: 1rem;
    }
    .ArgandDiagram > #zoom-controls > * {
        right: 5%;
    }
}
